<html>
<head>
  <title>CSV format</title>
</head>
  <body>
    <div>
      <p>
        {% autoescape false %}
          {{ text | replace("\n", "<br />")}}
        {% endautoescape %}
      </p>
    </div>
  </body>
</html>
