<html>
<head>
  <title>Display Page</title>
</head>
  <body>
    <div class="container">
      <h1>Control Times</h1>

      {% if length != 0 %}
      <h2>Brevet Length: {{ items[0].distance }}</h2>
      <h2>Start Time: {{ items[0].begin_date }} {{ items[0].begin_time }}</h2>
      {% for item in items %}
      <h3>Control at {{item.km}}km ({{item.miles}}mi)</h3>
        {% if item.location != "" %}
        <p> Location: {{ item.location }} </p>
        {% endif %}
        <p> Open Time: {{ item.open }} </p>
        <p> Close Time: {{ item.close }} <p>
      {% endfor %}
      {% endif %}

      {% if length == 0 %}
      <p>No control times submitted</p>
      {% endif %}
      <p>Not the results you expected? Make sure you press submit on your control times before you click the display button.</p>
      <button type="button" onclick="handleOnClick()">Home</button>
      <script>
        function handleOnClick(){
          location.replace("http://localhost:5000")
        }
      </script>
    </div>
  </body>
</html>
